* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

body {
  background: #e5e2e2;
  /* font-size: 16px; */
}
.cv-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 800px;
  min-height: 1000px;
  margin: 34px auto;
  padding-bottom: 30px;
}

.cv-heading {
  margin: 28px auto;
  text-align: center;
}
.cv-heading h1 {
  font-size: 26px;
}

.cv-body {
  margin: 0 72px;
  max-width: 660px;
}
.cv-body h3 {
  margin-top: 6px;
  display: inline-block;
}
hr {
  width: 100%;
  height: 3px;
  background: #000;
}

.job-list {
  text-align: justify;
  line-height: 1.4;
  display: block;
  list-style-type: disc;
  margin: 16px 0;
  padding-left: 20px;
}

.job-title {
  display: inline-block;
}
.job-title + span {
  margin-left: 350px;
  font-weight: 500;
}

.menu-list {
  background: #3e5cca;
}

.menu-list li {
  display: inline-block;
}

.menu-item {
  display: inline-block;
  height: 72px;
  min-width: 112px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  line-height: 72px;
  color: #fff;
}

.menu-list .active .menu-item {
  color: #000;
  background-color: #fff;
}

.form-contain {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 800px;
  margin: 60px auto;
  background: #9dd3d0;
  border-radius: 10px;
}

.form-contain h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 26px;
}

.form-group {
  margin: 20px 50px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.input-text {
  width: 300px;
}
.gender :first-child {
  display: block;
}
.gender label {
  display: inline-block;
}

img {
  width: 100px;
  border-radius: 50%;
}

.communication label {
  display: inline-block;
}

.submit {
  text-align: center;
}
.submit input {
  width: 200px;
  height: 50px;
}
